.post {
  position: relative;
  width: 720px;
  height: 121px;
  left: calc(50% - 720px / 2);
  top: 98px;

  background: #ffffff;
  opacity: 0.6;
  box-shadow: 3px 3px 30px 10px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  margin: 15px;
  padding: 15px;
}

.post-title {
  font-weight: bold;
  grid-template-columns: 45px 1fr;
  margin-bottom: 17px;
}
